.expenses {
  margin: 0 auto;
  /* border: 2px solid red; */
  width: 400px;
  margin-top: 15px;
}

h1 {
  font-weight: 600;
  font-style: italic;
}

.userExpensesContainer {
  /* border: 2px solid red; */
  margin: 0 auto;
  width: 400px;
  margin-top: 10px;
}

.userExpenses {
  font-weight: 400;
  padding: 3px;
  font-size: medium;
}

.input {
  font-size: medium;
  margin-bottom: 5px;
}

.submitForm {
  align-items: center;
  display: flex;
  /* border: 2px solid red; */
  padding: 10px;
}

.button {
  margin: 0;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-size: large;
  border: none;
  background-color: #e9f1de;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.input {
  border-radius: 6px;
  text-decoration: none; /* Remove underline */
  margin-right: 10px;
}

.headingUnderline {
  text-decoration: underline;
}
